###################################################################
#Discord Bot Stuff
###################################################################

#Example setup
###     Note: the name can be anything you want, and is only used to link the entries together. The bots discord name can be a good option
#bots.SomeConvenientName.token = yourBotApiTokenHere
#bots.SomeConvenientName.tasks = Comma,Seperated,List,Of,Bot,Tasks  (aka what you name it in the @BotTask("xyz") annotation)
###     Note: you can add :playing/:listening/:watching or :competing after the .activity to get the actual "Playing xyz" activities
#bots.SomeConvenientName.activity = some custom activity text for your bot
###     GatewayIntents you plan on using in your code, some common examples blow. For more info, see: https://jda.wiki/using-jda/gateway-intents-and-member-cache-policy/
#bots.SomeConvenientName.intents = GUILD_MESSAGES, DIRECT_MESSAGES, MESSAGE_CONTENT

