###################################################################
#Discord Bot Stuff
###################################################################

#Example setup
#bots.SomeConvenientName.token = yourBotTokenHere
#bots.SomeConvenientName.tasks = Comma,Seperated,List,Of,Bot,Tasks  (aka what you name it in the @BotTask("xyz") annotation)
#bots.SomeConvenientName.activity = some custom activity text for your bot
